* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #fffcff;
}

a {
  text-align: center;
  color: #0f172a;
  background-color: #f8fafc;
  text-decoration: none;
  font-size: 1.05rem;
}

a:hover {
  font-size: 1.1rem;
}

.cartIcon {
  font-size: 1.05rem;
}

.cartIcon:hover {
  font-size: 1.1rem;
}

.navBar {
  overflow: hidden;
}

.navBar .logoLink {
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navBar .navBarRight {
  float: right;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cartContainer {
  border: 1px solid red;
  position: absolute;
}

.homePageContainer {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;

  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". homePageHeader homePageHeader homePageHeader ."
    ". homePageBrowse homePageBrowse homePageBrowse ."
    ". . . . .";

  text-align: center;
  color: black;
}

.homePageHeader {
  grid-area: homePageHeader;
}

.homePageBrowse {
  grid-area: homePageBrowse;
}

.shopPageContainer {
  display: grid;
  max-width: 1064px;
  gap: 16px;

  grid-template-columns: repeat(auto-fill, 250px);

  margin: 0 auto;
}

.card {
  width: 240px;
  height: 400px;
  background-color: grey;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  font-size: 0.85rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3;
  border-radius: 5px;
  border: 1px solid #247ba0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #424242;
}

.card img {
  width: 200px;
  height: 260px;
  object-fit: cover;
}

.cartPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.errorPage {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
