* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f8f9fa;
  background-image: url("https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
}

.productText {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #212529;
}

button {
  color: #212529;
  background-color: #dee2e6;
  border: 1px solid black;
  text-align: center;
}

.shopPageContainer button {
  margin-top: 10px;
  padding: 5px;
  border-radius: 8px;
}

.shopPageContainer button:hover {
  box-shadow: 0px 5px 15px #adb5bd;
  font-size: 1.05rem;
}

.cartToggleButton {
  font-size: 1rem;
  border-radius: 8px;
}

.cartToggleButton:hover {
  box-shadow: 0px 5px 15px #f8f9fa;
}

.cartContainer button {
  border-radius: 8px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cartContainer button:hover {
  box-shadow: 0px 5px 15px #adb5bd;
}

.checkoutButton {
  padding: 5px;
}

.iconText {
  margin-left: 5px;
}

.navBar a {
  text-align: center;
  color: #f8f9fa;
  text-decoration: none;
  font-size: 1.25rem;
}

.navBar a:hover {
  text-shadow: 2px 2px 5px #f8f9fa;
}

.navBar {
  overflow: hidden;
  background-color: #343a40;
  padding: 25px;
  margin-bottom: 25px;
}

.navBar .logoLink {
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: logoLink;
}

.navBar .navBarRight {
  float: right;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-area: navBarRight;
}

.navBarRight a {
  margin-right: 25px;
}

.cartContainer {
  border: 1px solid #212529;
  padding: 10px;
  background-color: #f8f9fa;
  position: absolute;
  margin-top: 5px;
}

.cartItem {
  margin-bottom: 10px;
  border-bottom: 1px solid #212529;
}

.totalPriceP {
  margin-top: 15px;
  margin-bottom: 15px;
}

.productNameAndQuantity {
  font-weight: bold;
  margin-bottom: 10px;
}

.homePageContainer {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;

  grid-template-areas:
    ". . . . ."
    ". homePageHeader homePageHeader homePageHeader ."
    ". . . . ."
    ". homePageBrowse homePageBrowse homePageBrowse ."
    ". . . . .";

  text-align: center;
  color: #f8f9fa;
  font-size: 2rem;
  height: 750px;
}

.homePageContainer img {
  object-fit: cover;
}

.homePageHeader {
  grid-area: homePageHeader;
}

.homePageBrowse {
  grid-area: homePageBrowse;
}

.homePageBrowse a {
  text-align: center;
  font-size: 1.85rem;
  color: #f8f9fa;
  text-decoration: none;
}

.homePageBrowse a:hover {
  font-size: 1.95rem;
  color: #212529;
  text-shadow: 2px 2px 5px #212529;
}

.shopPageContainer {
  display: grid;
  max-width: 1244px;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 295px);
  margin: 0 auto;
}

.card {
  width: 295px;
  height: 380px;
  background-color: #f8f9fa;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3;
  border-radius: 5px;
  border: 1px solid #343a40;
}

.card img {
  margin-top: 5px;
  width: 200px;
  height: 260px;
  object-fit: cover;
}

.errorPage {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
